<div class="jumbotron">
<h1>{{titulo}}</h1>
<p>{{desc}}</p>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Los Dias de la semana</h5>
    
    {{#each dias}}
    
    <p class="card-text"><li>{{this}}</li></p>

    {{/each}}

    <a href="#" class="btn btn-primary" onclick="{{btn}}" id="btn">Ordenar</a>
  </div>
</div>
</div>